{% extends 'base.html' %}
{% block page-name %}DETAIL{% endblock page-name %}
{% block content %}

<script type="text/javascript">
function checkPermission(post,user){
    if(post !== user){
        alert("작성자가 아니기 때문에 수정할 수 없습니다.")
        return false;
    }
    return true;
}
</script>

<div class="border w-50 p-3 mx-auto">
    <div class="text-left">
        <h3>{{post.title}}</h3>
    </div>

    {% csrf_token %}

    <p><small>{{ post.user }}</p>
    <span class="text-muted">생성날짜 : {{post.created_at}}</span><br>
    <span class="text-muted">마지막 수정 : {{post.updated_at}}</span></small>
    <br><br>

    <h4>{{ post.content }}</h4>
    <br>
    
    {% if post.file %}
        <a href="{{post.file.url}}" download="newfilename">download</a><br>
    {% endif %}


    <a href={% url 'update_post' post.id %} 
    onclick="return checkPermission('{{post.user}}','{{user}}');"
    class="btn btn-outline-success">Edit</a>
    
    <a href="{% url 'home' %}"><button class="btn btn-outline-info">home</button></a>
    {% if user.is_staff or user.if_superuser %}
        <a href="{% url 'delete_post' post.id%}" 
        class="btn btn-outline-danger">delete</a>
    {% endif %}
</div>
{% for comment in post.comment.all %}
{{comment.author}}
{{comment.comment}}
{% endfor %}
{% endblock content %}
