{% extends 'base.html' %}
{% block page-name %}NEW POST{% endblock page-name %}

{% block content %}

<div class="border w-50 p-3 mx-auto">
<h3>New Post</h3>
<form method="POST" enctype="multipart/form-data" style="display:inline;">
{% csrf_token %}

{{form.title.label_tag}}
<br>
{{form.title}}<br><br>

{{form.content.label_tag}}<br>
{{form.content}}<br><br>

{{form.board.label_tag}}
{{form.board}}<br><br>

{{form.file.label_tag}}
{{form.file}}<br><br>

🔒
{{form.secret}}<br>
* 비밀글 설정 시 true로 바꿔주세요!<br><br>

<button type="submit"
class="btn btn-outline-success">ADD</button>
</form>
<a href = {% url 'home' %}
class="btn btn-outline-danger">cancel</a>

</div></div>
{% endblock content %}
