{% extends 'base.html' %}
{% block page-name %}NEW POST{% endblock page-name %}

{% block content %}

<div class="text-center text-2xl text-blue-900 font-bold mb-6">New Post</div>

<div class="w-full flex item-center justify-center">
<div class="inline-block px-32 py-10 border-solid border-4 border-gray-800 text-center shadow-2xl">
<form action= "{% url 'new_post' %}" method="POST">

{% csrf_token %}

{{post_form.title.label_tag}}
<div class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
{{post_form.title}}</div><br>

{{post_form.content.label_tag}}
<div class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal">
{{post_form.content}}</div><br>

<div class="inline px-2">{{post_form.board.label_tag}}</div>
<div class="inline-block bg-red-400">
{{post_form.board}}</div><br><br>

<div class="inline px- text-2xl pl-1">🔒</div>
<div class="inline-block bg-red-400">
{{post_form.secret}}</div><br>
<div class="text-red-700 text-sm">* 비밀글 설정 시 true로 바꿔주세요!</div><br>

<button type="submit"
class="whitespace-no-wrap bg-blue-900 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">ADD</button>
</form><br>
<a href = {% url 'index' %}
class="text-red-600 font-bold py-2 px-4 rounded-full">cancel</a>

</div></div>
{% endblock content %}