{% extends 'base.html' %}
{% block page-name %}POST
{% endblock page-name %}
{% block content %}
{% csrf_token %}

<div class="border w-50 p-3 mx-auto">
<h3>Updating</h3>
    <form action= "{% url 'update_post' post.id%}" method="POST" style="display:inline">
        {% csrf_token %}

        {{form.title.label_tag}}<br>
        {{form.title}}<br><br>

        {{form.content.label_tag}}<br>
        {{form.content}}<br><br>

        {{form.board.label_tag}}
        {{form.board}}<br><br>

        {{form.file.label_tag}}
        {{form.file}}<br><br>

        🔒 {{form.secret}}<br>
        * 비밀글 설정 시 true로 바꿔주세요!<br><br>

        <button type="submit" class="btn btn-outline-success">Update</button>
        </form>
    <button class="btn btn-outline-danger">
    <a href = {% url 'home' %}>cancel</a></button>
</div>
{% endblock content %}
