{% extends 'base.html' %}
{% block page-name %}INDEX{% endblock page-name %}

{% block content %}
<script type="text/javascript">
    function checkStep(step){
        console.log("come in")

        if (step === "one"){
            alert("멤버 단계 1은 글 읽기만 가능합니다.");
            return false;
        }
        return true;
    }

    function checkSecret(pUser, secret){
        if (secret === "true"){
            if('{{user}}' === pUser ||
                '{{user.is_superuser}}' === 'True' ||
                '{{user.is_staff}}' === 'True'){
                return true;
            }

            else{
                alert("이 글은 비밀글입니다. \n 관리자와 작성자만 확인 가능합니다.");
                return false;
            }
        }

        else{
            return true;
        }
    }
</script>

{% if user.is_authenticated %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for post in post_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{post.user}}</h6>
                                <a href={% url 'detail_post' post.id%} class="card-link">view</a>
                                <a href={% url 'update_post' post.id%} class="card-link">edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% if post_list %}     
{% load filters %}
<div class="container">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        {% comment %}
        {% for post_num in pagination.post_range %}
            <li class="page-item"><a class="page-link" href="?page={{post_num}}">{{post_num}}</a></li>
        {% endfor %} 
        {% endcomment %}

        {% for post_number in post_list.paginator.num_pages|ranges %}
            <li class="page-item"><a class="page-link" href="?page={{post_number}}">{{post_number}}</a></li>
        {% endfor %}

        <li class="page-item">
          <a class="page-link" href="?page={{post_list.paginator.num_pages}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endif %}

{% comment %} 로그인이 되어 있지 않을 때 {% endcomment %}
{% else %}
<div class="text-center">
<button type="button" class="btn btn-outline-success">
<a href ="{% url 'login' %}">Sign in</a></button>

<button type="button" class="btn btn-outline-info">
<a href ="{% url 'signup' %}">Sign up</a></button>
</div>
{% endif %}
</div>
{% endblock content %}
