{% extends 'base.html' %}
{% block page-name %}BOARD{% endblock page-name %}
{% block content %}

<div class="border w-50 p-3 mx-auto">
<h3>New Board</h3>
<form action="{% url 'create'%}" method="POST" style="display:inline;">
    {% csrf_token %}
        {{form.name.label_tag}}
        {{form.name}}

        {{form.path.label_tag}}
        {{form.path}}    
    <br>

    게시판 생성자 : 
    {{ user }}
    <br><br>
    <button type = "submit" class="btn btn-outline-success">Add</button>
</form>
<button class="btn btn-outline-danger">
<a href="{% url 'home' %}">Cancel</a></button>
</div>
{% endblock content %}
