{% extends 'base.html' %}
{% block page-name %}SIGN UP{% endblock page-name %}

{% block content %}
<h2 class="text-center">Sign Up</h2><br><br>

{% if user.is_authenticated %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n 회원가입을 위해서는 로그아웃이 필요합니다.')
    window.location.href='/'
    </script>

{% else %}
    <div class="border w-25 p-3 mx-auto">
        <form method="POST" action="{% url 'signup'%}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                <br>
            {% endfor %}
            
            <br>
            <button type="submit" class="btn btn-outline-success">Sign Up</button>
            <button type="button" class="btn btn-outline-warning">
            <a href = {% url 'home' %}>cancel</a></button>
        </form>
    </div>
{% endif %}
{% endblock content %}
